<%- include('../partials/header') %>

</head>

<body>

    <section class="profile">
        <h1>Bienvenido <%=user.details.givenName %></h1>
        <a href="/cerrar-sesion">Cerrar Sesion</a>
    </section>

    <%- include('../partials/footer') %>