<div class="container pt-5">
    <table class="table table-bordered availability-table">
        <thead class="table-inverse">
            <tr>
                <th></th>
                <th>Mañana</th>
                <th>Tarde</th>
                <th>Noche</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Domingo
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-day">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-evening">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-night">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Lunes
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-day">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-evening">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-night">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Martes
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-day">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-evening">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-night">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Miercoles
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-day">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-evening">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-night">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Jueves
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-day">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-evening">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-night">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Viernes
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-day">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-evening">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-night">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Sabado
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-day">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-evening">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
                <td>
                    <label class="custom-control availability-checkbox checkbox-night">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                </td>
            </tr>

        </tbody>

    </table>
</div>