<%- include('partials/header') %>
</head>
<body>
    <h1>Bienvenido a Study Buddy</h1>
    <p>Encuentra un profesor y empieza a estudiar</p>
    <a href="/registrarse/docente">Dictar Clases</a><br>
    <a href="/iniciar-sesion">Iniciar Sesion</a>

<%- include('partials/footer') %>